<div class="navbar">

  <div class="logo">
    Edit Issue
  </div>

  <button routerLink="/dashboard">
    Back
  </button>

</div>

<div class="container">

  <div class="card">

    <form (ngSubmit)="updateTask()">

      <input
        type="text"
        [(ngModel)]="task.title"
        name="title"
      >

      <textarea
        [(ngModel)]="task.description"
        name="description"
        rows="6"
      ></textarea>

      <select
        [(ngModel)]="task.status"
        name="status"
      >
        <option value="OPEN">OPEN</option>
        <option value="IN_PROGRESS">
          IN PROGRESS
        </option>
        <option value="DONE">
          DONE
        </option>
      </select>

      <button type="submit">
        Update Issue
      </button>

    </form>

  </div>

</div>
